@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Anek Malayalam', sans-serif;
  background: url(./Images/7088577_3506328.jpg);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
  backdrop-filter: blur(4px) brightness(20%);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  color: #fff;

}

.main-header span {
  color: #fff;
}

.main-header h1 {
  font-size: 80px !important;
  color: #fff;
}

.main-header p {
  font-size: 26px;
  font-weight: bold;
}

.main-header button {
  background: linear-gradient(90.04deg, #ffb000 0.03%, #e9d29e 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #000000;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.main-header button:hover {
  background: linear-gradient(90.04deg, #b68e39 0.03%, #181308 99.96%);
  color: #fff;
}


.container-all {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.quiz-container {
  max-width: 500px;
  min-width: 500px;
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;

}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #b68e39;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #181308;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #b68e39;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #b68e39 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;

}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #b68e39;
  font-size: 22px;
}

.timer-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.timer-container button {
  opacity: .8;
  color: #fff;
  background-color: #d6b469;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.timer-container button:hover {
  opacity: 1;
  cursor: pointer;
}